<html>
<head>
    <title>Editar Registro de Alumno</title>
</head>
<body>
    <h1>Editar Registro de Alumno</h1>
    <form method="POST">
        <label for="indice">Índice:</label>
        <input type="text" id="indice" name="indice"><br><br>
        
        <label for="nombre">Nuevo Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>
        
        <label for="carrera">Nueva Carrera:</label>
        <input type="text" id="carrera" name="carrera"><br><br>
        
        <input type="submit" value="Editar">
    </form>
</body>
</html>
